/* Estilos globales */
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    flex-wrap: wrap; /* Para que se adapte mejor en pantallas pequeñas */
}

/* Barra de anuncios */
.BarraDeAnuncios {
    font-size: 13px;
    position: relative;
    text-align: center;
    z-index: 1;
    padding: 10px;
}

.BarraDeAnuncios_Envoltura {
    padding: 15px;
}

.BarraDeAnuncios_Contenido {
    color: inherit;
    margin: 0;
}

/* Sección de anuncio */
#seccion-anuncio {
    background: #f2f2f2;
    color: #000000;
}

a {
    color: inherit;
    background-color: transparent;
    text-decoration: none;
}

/* Logo centrado */
.logoCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 200px;
    padding-bottom: 10px;
    max-width: 100%; /* Para que se ajuste al contenedor */
}

/* Desplegable */
.desplegable button {
    margin-inline-start: 50px;
    background-color: #fff;
    color: rgb(112, 109, 109);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 13px;
    font-family: "Montserrat", sans-serif;
}

.contenido-desplegable {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.contenido-desplegable a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.contenido-desplegable a:hover {
    background-color: #f1f1f1;
}

.desplegable:hover .contenido-desplegable {
    display: block;
}

/* Navegación */
#navegacion {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    border-bottom: 1px solid #ccc; 
    padding-bottom: 20px;
    flex-wrap: wrap; /* Para que se adapte mejor en pantallas pequeñas */
}

#navegacion li {
    margin: 10px 20px;
    font-family: "Montserrat", sans-serif;
    color: rgb(112, 109, 109);
    font-size: 13px;
}

/* Sección de compras */
#compras {
    margin-inline-end: 50px;
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    flex-wrap: wrap; /* Para que se adapte mejor en pantallas pequeñas */
}

#compras li {
    margin: 10px 20px;
    font-family: "Montserrat", sans-serif;
    color: rgb(112, 109, 109);
    font-size: 13px;
}

/* Párrafo de Tulipanes */
.parrafoTulipanes {
    padding-top: 15px;
    color: rgb(112, 109, 109);
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
}

#parrafoTulipanesPequeno {
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    line-height: 2;
}

#centrarImagenes {
    margin: 0 auto;
    max-width: 90%;
}

#centrarImagenes p {
    text-align: center;
    margin-top: 40px;
}

/* Sección de productos */
.contenedor-productos {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.producto {
    text-align: center;
    max-width: 250px;
}

/* Efecto de agrandamiento */
.producto img {
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.producto.img-visible {
    transform: scale(1.1);
    opacity: 0.8;
}


.producto img {
    width: 100%;
    height: 400px; 
    object-fit: cover; 
    display: block;
    margin-bottom: 10px;
    transition: transform 0.3s ease; 
}

.producto img:hover {
    transform: scale(1.2); /* Aumenta el tamaño de la imagen al 110% */
}

.producto h3 {
    font-size: 14px;
    color: #888;
    margin-bottom: 5px;
}

.producto span {
    font-size: 18px;
    color: #888;
}


/* Footer */
footer {
    background-color: #f8f8f8;
    padding: 40px 20px;
    text-align: center;
    margin-top: 50px;
}

.footer-contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-columna {
    flex: 1;
    min-width: 200px;
    margin: 10px 0;
}

.footer-columna h3 {
    margin-top: 0;
    font-size: 18px;
    color: #333;
}

.footer-columna p, .footer-columna a {
    font-size: 14px;
    color: #555;
    text-decoration: none;
}

.footer-columna a:hover {
    text-decoration: underline;
}

.footer-suscripcion {
    text-align: left;
}

.footer-suscripcion input[type="email"] {
    padding: 10px;
    width: calc(100% - 22px);
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.footer-suscripcion button {
    padding: 10px 20px;
    background-color: #cca5cb;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.footer-suscripcion button:hover {
    background-color: #ccc;
}

.footer-social {
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer-social a {
    font-size: 10px;
    margin: 0 10px;
    color: #555;
}

.footer-social img {
    width: 34px;
    height: 34px;
}

.footer-inferior {
    text-align: center;
    padding: 20px;
    background-color: #e8e8e8;
    font-size: 12px;
    color: #aaa;
}

/* Media Queries */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .desplegable button {
        margin-inline-start: 0;
        margin-top: 10px;
    }

    #navegacion li,
    #compras li {
        margin-right: 10px;
        font-size: 12px;
    }

    .parrafoTulipanes {
        font-size: 18px;
    }

    #parrafoTulipanesPequeno {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (max-width: 480px) {
    #logo {
        width: 150px;
    }

    .parrafoTulipanes {
        font-size: 16px;
    }

    #parrafoTulipanesPequeno {
        margin-left: 5%;
        margin-right: 5%;
    }

    #centrarImagenes p {
        margin-top: 20px;
    }

    .footer-social img {
        width: 30px;
        height: 30px;
    }
}
